<div style="text-align: center;">
  <h1>
    RoutingDemo
  </h1>
 </div>
 <nav>
  <a routerLink ="/departments" routerLinkActive = "active">Department</a>
  <a routerLink ="/employees" routerLinkActive ="active">Employees</a>
 </nav>


<router-outlet></router-outlet>